#folha{
  width:595px;
  height:842px;
  margin:auto;
  position:relative;
}
#profilepic{
  width:150px;
  height:150px;
  float:left;
  border-radius:12px;
  border:1px solid black;
  box-shadow:2px 3px 5px black;
  margin-top:20px;
  margin-left:6px;
  filter:grayscale(100%);
}
#nome{
  float:left; 
  margin-top:60px;
  margin-left:30px;
  font-family:arial;
}
#nasc{
  position:absolute;
  margin-top:100px;
  margin-left:205px;
  
}

.aba{
  position:absolute;
  margin-top:195px;
  margin-left:30px;
  width:505px;
}
.aba h1{
  margin:0;
  font-size:25px;
}
.sep{
  width:120%;
  height:1px;
  color:black;
  background:black;
}
.dados{
  margin:0;
  font-family:Sans-serif;
  font-size: 16px;
}
.aba2{
  position:absolute;
  margin-top:430px;
  margin-left:30px;
  width:505px;
}
.aba2 h1{
  width:120%;
  height:1px;
  color:black;
  background:black;
}
.aba2 h3{
  margin:20; 
}
img{
  width:20px;
  height:20px;
  float:left;
  padding-right:10px;
}
@media print{
  body *{
    visibility:hidden;
  }
  #estrutura, #estrutura *{
    visibility:visible;
  }
  #estrutura{
    position:fixed;
    top:0;
    left:0;
  }
}